@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Ubuntu&display=swap');

body{
  font-family: 'Ubuntu',sans-serif;
}
.dance-font{
  font-family: 'Dancing Script',cursive;
}
.card-img-top:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.5s;
}
.col-md-6 img:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.8s;
}


